.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background: rgb(1, 1, 1);
    width: 100%;
    min-width: 320px;
}

.logo {
    width: 95px;
    height: 95px;
}

.nav {
    display: flex;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav li a {
    color: #ffffff;
    text-decoration: none;
    transition: all 300ms;
    padding: 1.8em;
    margin: 0 0.4em;
}

.nav .active {
    color: hsl(187, 46%, 52%);
    font-size: 20px;
}

.nav a:hover {
    font-size: 20px;
}

.toggle {
    display: none;
}

.toggle span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 20px;
}

@media (max-width: 800px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        width: 100%;
        left: 0;
        background-color: rgb(67, 62, 62);
        z-index: 3;
        border-radius: 0 0 100% 100%;
    }

    .nav.open {
        display: flex;
    }

    .nav li {
        margin: 11px 10px;
    }

    .nav ul {
        display: flex;
        list-style: none;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 13px;
    }

    .toggle.active {
        display: block;
        padding: auto;
    }

    .toggle {
        display: block;
        cursor: pointer;
    }
}