 body {
   margin: 0;
   font-family: "proxima nova bold", "Helvetica Neue",
     'Ubuntu', 'Helvetica', 'Arial', 'Sans-serif';
 }

 code {
   font-family: "proxima nova bold", "Helvetica Neue",
     'Ubuntu', 'Helvetica', 'Arial', 'Sans-serif';
 }

 /*Estilos Cabesera */

 .header {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 100px;
   background: rgb(1, 1, 1);
   margin-bottom: 15px;
 }

 .logo {
   width: 95px;
   height: 95px;
 }

 .header nav ul {
   width: auto;
   float: right;
   font-size: 1.6rem;
   background: transparent;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   list-style: none;
   height: 20px;
 }

 .header li {
   position: static;
   font-weight: bold;
   font-size: 18px;
   margin-left: 20px;
   font-family: 'Montserrat', sans-serif;
   margin-right: 20px;
 }

 .header li a {
   color: #ffffff;
   text-decoration: none;
   transition: all 300ms;
 }

 .header .active {
   color: hsl(187, 46%, 52%);
 }

 .header a:hover {
   color: hsl(187, 46%, 52%);
 }

 /*Estilos home */
 .conten {
   align-content: center;
   width: 90%;
   height: 100%;

 }

 .home {
   display: flex;
 }

 .perfil {
   margin-left: 30px;
 }

 .lasts-works {
   display: flex;
   border-top: 0.5px solid #dddddd;
   background: #fafafa;
 }

 .lasts-works p {
   font-family: 'Montserrat', sans-serif;
   margin: 0%;
   text-align: justify;
   font-size: 20px;
   color: rgb(69, 64, 64);
 }

 .container {
   display: flex;
   flex-direction: column;
   padding: 3em;
   margin: 0%;
 }

 .containere {
   display: flex;
   flex-direction: column;
   padding: 3em;
   margin: 0%;
 }

 .containeres {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 2.1em;
   margin: 0%;

 }

 .graf {
   display: flex;
   flex-direction: column;
   padding: 5em;
   align-content: center;
 }

 .grafi {
   margin: 30px;
   padding: 1em;
   align-content: center;
 }

 .page {
   margin-left: 75px;
   text-align: center;
   width: 100%;
 }

 .page strong {
   color: #db2757;
 }

 .abouts {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 2em;
 }

 .home a {
   font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
   color: #db2757;
   text-decoration: none;
   transition: all 500ms;
 }


 .page .heading {
   margin-left: 200px;
   width: 250px;
   font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
   font-size: 68px;
   font-weight: bold;
 }

 .subheading {
   font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
   font-size: 38px;
   font-weight: bold;
 }

 .subhead {
   font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
   font-size: 50px;
   font-weight: bold;
 }


 .sub {
   font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
   font-size: 30px;
 }

 .subh {
   font-family: 'Montserrat', sans-serif;
   font-weight: bold
 }

 .home p {
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   margin-left: 70px;
   text-align: justify;
   font-size: 21px;
   color: rgb(69, 64, 64);
   padding: 0.5em;
 }

 .animation {
   width: 480px;
   border-radius: 3%;
   margin: 40px;
 }

 .input {
   font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
   display: block;
   padding: 12px;
   margin-top: 25px;
   width: 250px;
   height: 16px;
   font-size: 18px;
 }

 .motiv {
   display: block;
   padding: 10px;
   text-align: center;
   font-size: 16px;
   width: 280px;
   height: 100px;
   margin-top: 25px;
 }

 input[type="submit"],
 button {
   box-shadow: 0 4px 6px rgba(242, 220, 95, 0.35);
   margin-top: 15px;
   font-size: 20px;
   font-weight: bolder;
   padding: 10px;
   border: 0px;
   border-radius: 4px;
   color: #ff5757;
   text-decoration: none;
   transition: all 300ms;
   width: 102px;
 }

 .home a:hover,
 input[type="submit"]:hover,
 button:hover {
   color: hsl(198, 67%, 50%);
 }

 .cont {
   margin-bottom: 30px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
 }

 /*Estilos pagina  portafolio*/
 .works {
   display: grid;
   grid-template-columns: auto auto auto;
   justify-content: space-evenly;
   gap: 80px;
   padding: 4em;

 }

 .works span {
   color: #333333;
   top: 10px;
 }

 .works .card {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   width: 370px;
   max-width: 100%;
   height: 320px;
   background: white;
   border-radius: 20px;
   transition: 0.5s;
   box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
 }

 .works .card:hover {
   height: 378px;
 }

 .works .card .img-box {
   position: absolute;
   top: 30px;
   width: 300px;
   height: 220px;
   background: #000000;
   border-radius: 12px;
   overflow: hidden;
   transition: 0.5s;
 }

 .works .card:hover .img-box {
   top: -95px;
   scale: 0.75;
   box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
 }

 .works .card .img-box img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }


 .works .card .content {
   position: absolute;
   top: 242px;
   width: 100%;
   height: 45px;
   padding: 0 20px;
   text-align: center;
   overflow: hidden;
   transition: 0.5s;
 }

 .works .card:hover .content {
   top: 130px;
   height: 250px;
 }

 .works .card .content h2 {
   font-size: 1.5rem;
   font-weight: bold;
   color: #333333;
 }

 .works .card .content p {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight:normal;
  color: rgb(69, 64, 64);
 }
 .works .card .content h4 {
  color: rgb(69, 64, 64);
 font-weight: border;
 font-family: 'Montserrat', sans-serif;
}

 .works .card .content a {
   position: relative;
   top: 15px;
   display: inline-block;
   padding: 6px 15px;
   text-decoration: none;
   background: var(--clr);
   color: #ffffff;
   font-weight: 500;
   background-color: #424242;
   border-radius: 8px;
   font-size: 16px;
 }

 .works .card .content a:hover {
   opacity: 0.8;
}

 @media (max-width: 480px) {
   .works .card {
     width: 230px;
     border-radius: 15px;
   }

   .works .card .img-box {
     width: 185px;
     border-radius: 10px;
   }

   .works .card .content p {
     font-size: 0.8rem;
   }

   .works .card .content a {
     font-size: 0.9rem;
   }
 }


 .works a {
   font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
   color: #db2757;
   text-decoration: none;
   transition: all 500ms;
   font-size: 25px;
 }

 .works a:hover {
   color: hsl(198, 67%, 50%);

 }

 /*Estilos pagina Contasnto*/

 .contac {

   margin-bottom: 40px;

 }

 .contac p {
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   padding: 0 200px 0;
   margin: 0%;
   text-align-last: center;
   font-size: 26px;
 }

 .social-icons {
   padding: 20px;

   list-style-type: none;
   margin-top: 60px;
   display: flex;
   justify-content: space-evenly;

 }

 .icon-name {
   font-weight: bold;
   margin-left: 30px;
   font-size: 18px;
   text-decoration: none;
   color: rgb(3, 155, 229);
   display: flex;
   align-items: center;

 }

 .icon-name1 {
   font-weight: bold;
   margin-left: 30px;
   color: #333333;
 }

 .contact {
   font-family: 'Montserrat', sans-serif;
   background: #fafafa;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 440px;
   height: 470px;
   box-shadow: 0 4px 8px rgba(4, 170, 199, 0.35);
   border: solid 1px lightslategray;
   border-radius: 8px;
 }

 /*Estilos footer */

 .footer {
   height: 80px;
   display: flex;
   line-height: 7px;
   text-align: center;
   font-size: 18px;
   border-top: 3px solid black;
   background: #f5f5f5;
   justify-items: center;
   color: #757575;
   justify-content: space-evenly;
   align-content: center;
   align-items: center;
 }

 .icon {
   margin-right: 15px;
   margin-left: 15px;
   width: 66px;
 }